body {
    font-family: courier new;
    background-color:  #ffd9cc;
    margin: 100px;
}

img {
    max-height: 200px;
    max-width: 200px;
}

#yellow {
    background-color:  #ffff80;
}

h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    padding-bottom: 10px;
}

button {
    float: right;
}